set ideajoin
set surround
set multiple-cursors
set incsearch
set highlightedyank

let mapleader = " "

vmap s S
imap jj <Esc>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

" actions
nmap <leader>q <action>(CloseEditor)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>s <action>(QuickChangeScheme)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nnoremap <leader><leader> <C-Tab>
nnoremap <c-\> :action MoveTabRight<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
nnoremap <c--> :action SplitHorizontally<CR>

sethandler <c-g> a:ide
sethandler <c-w> a:vim
sethandler <c-d> a:vim
sethandler <c-a> a:vim
sethandler <c-f> a:vim
sethandler <c-e> a:vim
sethandler <c-r> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-h> a:vim
sethandler <c-l> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>
nnoremap <leader>te :action ActivateTerminalToolWindow<CR>

" multi cursor
map mc <A-n>
map mx <A-x>
map mp <A-p>

" Running test and debugging 
nnoremap <leader>tl :action Rerun<CR>
nnoremap <leader>t :action RunClass<CR>
nnoremap <leader>tb :action ToggleLineBreakpoint<CR>
nnoremap <leader>d :action ContextDebug<CR>
nnoremap leadertf Action(EditorTextStart) \| Action(RunClass) \| Action(Back)

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

set easymotion
let g:EasyMotion_re_anywhere='s'
